@import "tailwindcss";

@theme {
  --color-primary: #1E3A8A;
  --color-accent: #22C55E;
  --color-text-main: #1F2937;
  --color-bg-light: #F3F4F6;
}

@layer base {
  body {
    @apply text-text-main bg-white;
  }
}
